
<link rel="stylesheet" href="styles.css">

<h1>Добавить книгу</h1>

<form onsubmit={{action "saveBook"}}>
    <label for="title">Заголовок:</label><br>
    <input type="text" placeholder="title" value="{{title}}"><br><br>
    
    <label for="author">Автор:</label><br>
    <input type="text" placeholder="author" value="{{author}}"><br><br>
    
    <label for="pages">Количество страниц:</label><br>
    <input type="number" placeholder="pages" value="{{pages}}"><br><br>
    
    <label for="hashtag">Хештег:</label><br>
    <input type="text" placeholder="hashtag" value="{{tags}}"><br><br>
    
    <button type="submit" class="btn-submit">save</button>
</form>
